body {
    background-color: rgb(139, 181, 181);
    
}

.wrapper {
    padding: 3rem 7rem;
}
.result {
    padding: 2rem 12rem 2rem 12rem;
    text-align: center;
}
p {
    font-size: 1.5rem;
    line-height: 1.5;
}

strong {
    color: rgb(198, 20, 20);
}