body {
    background-color: rgb(139, 181, 181);
    
}

.wrapper {
    margin: 2rem auto;
}

img {
    width: 100%;
}
.result {
    padding: 2rem 12rem 2rem 12rem;
    text-align: center;
}
p {
    font-size: 1.5rem;
    line-height: 1.5;
}

strong {
    color: rgb(198, 20, 20);
}

@media  (max-width: 500px) {
    input {
        display: block;
        
    }
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}